*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #454545;
  color: #e4fde1;
}

header {
  position: fixed;
}

a {
  text-decoration: none;
}
.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #432929;
}

#profile-name {
  margin-left: 0.15rem;
  font-size: 3.1vw;
  padding-bottom: 0.4em;
}

#profile-picture {
  margin: 0.2rem 0.5rem 0 0.6rem;
  width: 13vw;
  border-radius: 50%;
  max-width: 8vh;
  max-height: 8vh;
}

.links-container {
  padding: 1em;
  max-width: 80vw;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.85em;
  list-style: none;
  background-color: #432929;
}

.links-container a {
  font-size: 4vw;
}

.links-container > li {
  width: 6rem;
  text-align: center;
}

.navbar a {
  color: #e4fde1;
  cursor: pointer;
  letter-spacing: 0.235px;
}

.navbar a:hover {
  color: #db5921;
  font-weight: 900;
  transition: ease-in 0.25s;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero2.jpg);
  height: 93.5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 3.6rem;
  z-index: -1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e4fde1;
}

.hero-text h1 {
  font-size: 12vw;
}

.hero-text p {
  font-size: 4vw;
  color: #fea900;
}

section {
  padding-top: 0.4rem;
}

#about,
#projects,
#contact {
  width: 94%;
  margin: 0 auto;
  padding: 2.7rem 2.7rem 0rem 2.7rem;
  display: flex;
  flex-direction: column;
}

.divider {
  width: 3rem;
  border: 1px solid gold;
  margin: 1.1rem auto;
}

.about-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about-img-container {
  margin: 0 auto;
}

.about-img-container img {
  max-width: 18rem;
  margin: 0 auto;
}

#about h2,
#projects h2,
#contact h2 {
  font-size: 2.5rem;
  text-align: center;
}

#about h2,
#projects h2 {
  margin-top: 1.75rem;
}

#about p,
#projects h3 {
  padding: 1rem;
  margin: 0 auto;
}

#about h3 {
  margin-top: 1rem;
  padding: 1rem 1.5rem 0rem 1.5rem;
}

#projects h3 {
  font-size: 1.5rem;
}

#io-icon {
  width: 1rem;
  padding-left: 0.04rem;
}

.project-container {
  border: 2px solid black;
  margin-top: 0.5rem;
}

.project-container img {
  width: 45vw;
  margin-left: 1.2rem;
}

.project-container p {
  padding: 0.3rem 0.8rem 0.8rem 0.8rem;
}

.project-img-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  margin: 0.2rem 1.5rem 0.5rem 1.5rem;
}

.project-img {
  max-width: 32rem;
}

.project-img-container button {
  margin-left: 0.4rem;
  font-size: 0.8rem;
  background-color: red;
  color: black;
  width: 13vw;
  max-width: 5rem;
  height: 1.6rem;
  border-radius: 5%;
  border: 1px solid black;
}

.project-img-container a {
  color: rgb(104, 192, 255);

  padding-right: 1rem;
  font-size: 0.9rem;
}

.button-container {
  margin: 0 2.2rem 0;
}

.button-container a:hover {
  color: green;
}

.project-icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  flex-direction: column;
}

#contact {
  padding-bottom: 3rem;
}

#contact p {
  padding: 2rem;
  font-size: 1.3rem;
  text-align: center;
}

.contact-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 55%;
  margin: 0 auto;
  gap: 0.5rem 0;
}

.contact-links i {
  color: rgb(104, 192, 255);
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.contact-details {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

footer {
  margin-left: 2rem;
  padding: 1rem;
}

/* Desktop version*/
@media only screen and (min-width: 600px) {
  #profile-picture-container {
    display: flex;
    align-items: center;
  }

  #profile-name {
    margin-top: 0.3em;
    font-size: 1.8rem;
  }

  .links-container {
    flex-grow: 0;
    column-gap: 3rem;
    margin-right: 2rem;
  }

  .links-container a {
    font-size: 1.5rem;
  }

  .project-container,
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2.5rem;
  }

  .project-img-container {
    margin-top: 1.3rem;
  }

  .project-img-container img {
    margin-left: 0;
  }

  .project-right {
    /* display: fle; */
    flex-direction: row-reverse;
    padding: 0;
  }

  .project-content1 {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .button-container {
    width: inherit;
    text-align: center;
    margin: 0.4rem 0 2.2rem 0;
  }

  .button-container a {
    font-size: 1.8rem;
  }

  .about-img-container {
    margin-top: 2rem;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
  }
}

@media only screen and (min-width: 900px) {
  .project-icon-container {
    font-size: 1.7rem;
  }
}
