*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #454545;
  color: #ffffff;
}
header {
  position: fixed;
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  background-color: #759eb8;
}

#profile-picture-container {
  border: 1px solid red;
}

#profile-picture {
  width: 14vw;
  justify-content: flex-start;
  border-radius: 50%;
}

.links-container {
  margin: 1vw;
  padding: 1em;
  display: flex;
  column-gap: 1.5em;
  font-size: 0.8em;
  list-style: none;
  background-color: grey;
  border: 1px solid red;
}

.links-container a {
  text-decoration: none;
  color: #ffffff;
}
