*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #454545;
  color: #ffffff;
}
header {
  position: fixed;
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  background-color: #759eb8;
}

#profile-picture-container {
  border: 1px solid red;
  display: flex;
  column-gap: 0.75em;
  font-size: 0.85em;
}
#profile-picture-container p {
  align-self: center;
  font-size: 0.85rem;
}

#profile-picture {
  width: 14vw;
  justify-content: flex-start;
  border-radius: 50%;
}

.links-container {
  margin: 2vw;
  padding: 1em;
  display: flex;
  align-items: center;
  column-gap: 1.3em;
  font-size: 0.8em;
  list-style: none;
  background-color: grey;
  border: 1px solid red;
}

.links-container a {
  text-decoration: none;
  color: #ffffff;
}
